<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What We Believe</h2>
                <hr class="light">
                <p class="text-faded">Most branding problems don’t come from bad creatives. They come from unclear thinking.<br>We believe better brands are built when clients become brand-literate and are able to make informed, confident decisions about their own brands.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
