<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">From Clarity to Experience</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Brand Thinking</h3>
                    <p class="text-muted">We get the thinking right.<br>Brand strategy | Positioning and purpose | Audience understanding | Brand personality</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Brand Building</h3>
                    <p class="text-muted">We build the foundation.<br>Logo design | Visual identity systems | Brand guidelines | Business profiles and stationery</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Brand Expression</h3>
                    <p class="text-muted">Here, the brand finds its voice.<br>Website design and maintenance | Copywriting | Scriptwriting | Campaign concepts</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Brand in the World</h3>
                    <p class="text-muted">Brand becomes an experience.<br>Brand activations | Roadshows | Gala events | Experiential campaigns</p>
                </div>
            </div>
        </div>
    </div>
</section>
